{% load static %}
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <form method="get" action="{% url 'search_results' %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" name="q" placeholder="Search users and posts" 
                               class="form-control" aria-label="Search">
                        <button class="btn btn-primary" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>

   
</style>